<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="../../css/admin/admin.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
		<title>Nyaheata 管理画面</title>
		<script>
		function changeText(){
			$("#about").html("<b>軽量/高速</b>なライブラリです");
			}
		</script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1>Nyaheata 管理画面</h1>
				<p class="intoro">管理画面トップ</p>
			</div>
			<hr>
			<div class="pan">管理画面トップ</div>
			<div class="contents">
				<h2>プログラミン</h2>
				<div class="category">
					<div class="link">
						<p>
							<a href="/admin/programing/index">コラム作成・編集</a>
							コラムの作成、編集を行います
						</p>
					</div>
				</div>
				
				<h2>brotherOutlet</h2>
				<div class="category">
					<div class="link">
						<p>
							<a href="/admin/windWork/prjImgSetting">企業紹介</a>
							企業紹介画像の設定
						</p>
						<p>
							<a href="/admin/windWork/productList">商品追加</a>
							商品の新規作成・編集・削除を行います
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

