<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>nyaheata login</title>
		<meta name="author" content="lakuro" />
		<!-- Date: 2013-09-30 -->
	</head>
	<body style="text-align: center">
	
		<div style="margin: 30px 0">
			ログインTOP
		</div>
		<div align="center">
			<form action="/admin/login/" method="post">
			<table>
				<tr>
					<td>ユーザ名</td>
					<td><input type="text" name=user></td>
				</tr>
				<tr>
					<td>パスワード</td>
					<td><input type="text" name="pass"></td>
				</tr>
			</table>
			<!--{if $error}-->
			<div style="font-size:x-small; color: red">ログインに失敗しました</div>
			<!--{/if}-->
			<input type="submit" value="ログイン">
			</form>
		</div>
	</body>
</html>

